.cruises {
  padding: 85px 118px 120px;
  max-width: 1366px;
  margin: auto;

  @media screen and (max-width: 1315px) {
    padding: 85px 95px 120px;
  }

  @media screen and (max-width: 1270px) {
    padding: 85px 75px 120px;
  }

  @media screen and (max-width: 1220px) {
    padding: 85px 45px 120px;
  }

  @media screen and (max-width: 1190px) {
    padding: 85px 30px 120px;
  }

  @media screen and (max-width: 1160px) {
    padding: 85px 15px 120px;
  }

  @media screen and (max-width: 1100px) {
    padding: 85px 5px 120px;
  }

  @media screen and (max-width: 1023px) {
    padding: 90px 60px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 57px 25px 65px;
  }
}

.cruises__img {
  object-fit: cover;
  height: 386px;

  @media screen and (max-width: 1023px) {
    width: 100%;
  }
}

.cruises__title {
  margin: 0 0 49px;
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.cruises__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.cruises__item {
  position: relative;
  list-style-type: none;
  background: $color-tangaroa;
  cursor: pointer;
}

.cruises__heading,
.cruises__container-heading {
  position: absolute;
  margin: 30px 30px 22px;
  bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-alice-blue;

  @media screen and (max-width: 1276px) {
    font-size: 17px;
  }

  @media screen and (max-width: 1023px) {
    margin: 35px 35px 27px;
    font-size: 18px;
  }

  @media screen and (max-width: 767px) {
    margin: 25px 25px 17px;
  }
}

.cruises__container {
  height: 386px;
  min-width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  background: $color-tangaroa;
  padding: 28px 25px 25px;
  display: none;
  z-index: 1;
  overflow-y: scroll;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    min-width: 100%;
    padding: 28px 35px 35px;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 25px 35px;
  }
}

.cruises__container-heading {
  position: relative;
  margin: 0 0 15px;
  padding: 0;

  @media screen and (max-width: 1023px) {
    margin: 0 0 15px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 0 15px;
  }
}

.cruises__container-list {
  margin: 0;
  padding: 0;
}

.cruises__container-title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: $color-alice-blue;

  @media screen and (max-width: 1268px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1107px) {
    font-size: 11px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.cruises__container-description {
  margin: 1px 0 12px 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz;

  @media screen and (max-width: 1327px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1268px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1107px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.cruises__toggle {
  display: block;
  min-width: 80%;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $color-tangaroa;
  background-color: $color-quartz;
  outline: none;
  cursor: pointer;
  margin-top: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 1023px) {
    min-width: 77%;
  }

  @media screen and (max-width: 767px) {
    min-width: 90%;
  }

  @media screen and (max-width: 450px) {
    min-width: 85%;
  }

  @media screen and (max-width: 320px) {
    min-width: 81%;
  }
}

.cruises__item:hover .cruises__container,
.cruises__item:focus-visible .cruises__container  {
  display: block;
  height: 386px;
  cursor: pointer;
}
