.cruises {
  padding: 85px 118px 120px;
  max-width: 1366px;
  margin: auto;

  @media screen and (max-width: 1023px) {
    padding: 90px 60px 100px;
  }

  @media screen and (max-width: 767px) {
    padding: 57px 25px 65px;
  }
}

.cruises__img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cruises__title {
  margin: 0 0 49px;
  padding: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @media screen and (max-width: 1023px) {
    font-size: 26px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.cruises__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.cruises__item {
  position: relative;
  list-style-type: none;
  background: $color-tangaroa;
  padding-top: calc(386 * 100% / 260);
  color: $color-alice-blue;

  @media screen and (max-width: 1023px) {
    padding-top: calc(386 * 100% / 309);
  }

  @media screen and (max-width: 767px) {
    padding-top: calc(386 * 100% / 270);
  }
}

.cruises__heading {
  position: absolute;
  margin: 30px 30px 22px;
  bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;

  @media screen and (max-width: 1276px) {
    font-size: 17px;
  }

  @media screen and (max-width: 1023px) {
    margin: 35px 35px 27px;
    font-size: 18px;
  }

  @media screen and (max-width: 767px) {
    margin: 25px 25px 17px;
  }
}

.cruises__container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 70px 25px 25px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;

  @media screen and (max-width: 1139px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 1023px) {
    padding: 70px 35px 35px;
  }

  @media screen and (max-width: 767px) {
    padding: 70px 25px 35px;
  }
}

.cruises__item:hover .cruises__container,
.cruises__item:focus-within .cruises__container {
  opacity: 1;
  pointer-events: all;
  background: $color-tangaroa;

}

.cruises__item:hover .cruises__img {
  display: none;
}

.cruises__item:hover .cruises__heading,
.cruises__item:focus-within .cruises__heading {
  top: 0;
  margin: 28px 25px 22px;
  z-index: 10;

  @media screen and (max-width: 1023px) {
    margin: 28px 35px 22px;
  }

  @media screen and (max-width: 767px)  {
    margin: 28px 25px 22px;
  }
}

.cruises__container-list {
  margin: 0;
  padding: 0;
  height: 74%;
  overflow-y: scroll;

  @media screen and (max-width: 1023px) {
    height: 85%;
  }

  @media screen and (max-width: 960px) {
    height: 83%;
  }

  @media screen and (max-width: 800px) {
    height: 77%;
  }

  @media screen and (max-width: 767px) {
    height: 91%;
  }

  @media screen and (max-width: 590px) {
    height: 86%;
  }

  @media screen and (max-width: 430px) {
    height: 83%;
  }

  @media screen and (max-width: 370px) {
    height: 80%;
  }

  @media screen and (max-width: 320px) {
    height: 77%;
  }
}

.cruises__container-title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;

  @media screen and (max-width: 1268px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1107px) {
    font-size: 11px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.cruises__container-description {
  margin: 1px 0 12px 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz;

  @media screen and (max-width: 1327px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1268px) {
    font-size: 13px;
  }

  @media screen and (max-width: 1107px) {
    font-size: 12px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.cruises__toggle {
  display: block;
  min-width: 80%;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $color-tangaroa;
  background-color: $color-quartz;
  outline: none;
  cursor: pointer;
  margin-top: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.9;
  }

  @media screen and (max-width: 1139px) {
    font-size: 11px;
  }

  @media screen and (max-width: 1023px) {
    font-size: 14px;
    min-width: 77%;
  }

  @media screen and (max-width: 767px) {
    min-width: 90%;
  }

  @media screen and (max-width: 450px) {
    min-width: 85%;
  }

  @media screen and (max-width: 320px) {
    min-width: 81%;
  }
}
