.form {
  padding: 50px 163px;
  min-height: 555px;

  @supports (background-image: url("../img/form-background-desktop.webp")) {
    background-image: url("../img/form-background-desktop.webp");
    background-size: cover;
    background-repeat: no-repeat;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-background-desktop@2x.webp");
    }
  }

  @supports not (background-image: url("../img/form-background-desktop.webp")) {
    background-image: url("../img/form-background-desktop.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-background-desktop@2x.jpg");
    }
  }

  @media screen and (max-width: 1023px) {
    padding: 50px 163px 100px;

    @supports (background-image: url("../img/form-background-tablet.webp")) {
      background-image: url("../img/form-background-tablet.webp");
      background-size: cover;
      background-repeat: no-repeat;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/form-background-tablet@2x.webp");
      }
    }

    @supports not (background-image: url("../img/form-background-tablet.webp")) {
      background-image: url("../img/form-background-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/form-background-tablet@2x.jpg");
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 60px 15px 65px;
  }

  @media screen and (max-width: 374px) {
    padding: 58px 15px 65px;

    @supports (background-image: url("../img/form-background-mobile.webp")) {
      background-image: url("../img/form-background-mobile.webp");
      background-size: cover;
      background-repeat: no-repeat;


      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/form-background-mobile@2x.webp");
      }
    }

    @supports not (background-image: url("../img/form-background-mobile.webp")) {
      background-image: url("../img/form-background-mobile.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/form-background-mobile@2x.jpg");
      }
    }
  }
}

.form__wrapper {
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    min-width: 419px;
    text-align: center;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    min-width: 290px;
  }
}

.form__title {
  margin: 163px 0 7px;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  color: $color-tangaroa;

  @media screen and (max-width: 1023px) {
    margin: 39px 0 4px;
    font-size: 34px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 130%;
  }

  @media screen and (max-width: 320px) {
    max-width: 200px;
    margin: auto;
    margin-bottom: 13px;
  }
}

.form__wrapper-next p,
.form__wrapper-index p {
  margin: 0;
  padding: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $color-tangaroa;

  @media screen and (max-width: 1023px) {
    margin-bottom: 52px;
    margin-left: 35px;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 33px;
  }
}

.form__wrapper-next br {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.form__wrapper-index {
  margin-left: 20px;
  max-width: 403px;
  max-height: 480px;
  background-color: $color-tangaroa;
  padding: 44px 49px 50px;

  @media screen and (max-width: 1023px) {
    max-width: 100%;
    margin: 0 19px;
    padding: 44px 50px 30px;
  }

  @media screen and (max-width: 767px) {
    max-height: 100%;
    margin: 0;
    padding: 36px 30px 26px;
  }
}

.form__wrapper-index p {
  font-weight: 500;
  max-width: 100%;
  color: $color-alice-blue;

  @media screen and (max-width: 1023px) {
    text-align: start;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.form__container {
  position: relative;
  margin-top: 7px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.form__custom-input input {
  margin: 21px 0 0;
  padding: 12px 16px 9px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border: none;
  color: rgba(1, 28, 64, 0.7);
  background-color: $color-alice-blue;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__custom-toggle label {
  display: flex;
  position: relative;
  margin-top: 21px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__mark {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border: 1px solid $color-default-white;
  background-color: $color-alice-blue;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}

.form__custom-toggle input[type="checkbox"]:checked + .form__mark {
  position: absolute;
  background-image: url("../img/svg/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.form__label-checkbox {
  margin: 2px 0 0 24px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $color-alice-blue;
  cursor: pointer;

  @media screen and (max-width: 1023px) {
    margin: 3px 0 0 24px;
  }

  @media screen and (max-width: 767px) {
    margin: -3px 0 0 28px;
    text-align: start;
  }

  @media screen and (max-width: 320px) {
    max-width: 150px;
  }
}

.form__toggle {
  width: 100%;
  margin-top: 32px;
  padding: 11px 15px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  border: none;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media screen and (max-width: 767px) {
    margin-top: 26px;
  }
}

.form__custom-toggle input:focus + .form__mark {
  visibility: visible;
  outline: 3px solid;
  order: 10;
}

.form__label-checkbox:focus {
  outline: 2px solid;
}

.form__custom-input .is-invalid,
.form__custom-input .is-valid {
  position: absolute;
  left: 0;
  margin-top: 70px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1px;
  color: $color-torch-red;
}

.form__custom-input .is-valid {
  color: $color-alice-blue;
}
