.no-js {
  .header {
    position: relative;
  }

  @media screen and (max-width: 767px) {
    .header {
      flex-direction: column;
    }
  }

  .site-navigation {
    position: relative;
    top: -1px;
    left: 0;
  }
}
